<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <span *ngIf="role?.toUpperCase()?.includes('EMPLOYEE')">
    <button mat-raised-button (click)="newTicket()">New Ticket</button>
  </span>
  <span *ngIf="role?.toUpperCase()?.includes('MANAGER')">
    <mat-radio-group aria-label="Filter by Status:" [(ngModel)]="filter">
      <mat-radio-button *ngFor="let status of statuses" [value]="status" (change)="this.cards = filterTickets(status)">
        {{status}}
      </mat-radio-button>
    </mat-radio-group>
  </span>
  <mat-grid-list cols="3" rowHeight="400px">
    <mat-grid-tile *ngFor="let card of cards | async">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Ticket id: {{card.id}} {{card.author.username}} {{card.author.email}} Submit Date: {{card.submitted | date: 'full'}}
          </mat-card-title>
          <mat-card-subtitle>
            STATUS: {{card.status}} TYPE: {{card.type}}
            <span *ngIf="card.status != 'PENDING'">Resolved: {{card.resolved | date: 'full'}} by {{card.resolver?.username}}</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
           <p>{{card.amount | currency }}</p>
           <span>{{card.description}}</span>
          </div>
          <div *ngIf="card.receiptLink">
          <img mat-card-md-image src="{{card.receiptLink}}" />
        </div>
        </mat-card-content>
        <mat-card-actions *ngIf="role?.toUpperCase()?.includes('MANAGER') && card.status == 'PENDING'">
          <button mat-raised-button (click)="serveTicket(card.id, 'DENIED')">Deny</button>
          <button mat-raised-button (click)="serveTicket(card.id, 'APPROVED')">Approve</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
