<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <span>
    <button mat-raised-button (click)="newTicket()">New Ticket</button>
  </span>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Ticket id: {{card.id}} {{card.author.username}} {{card.author.email}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
           <span>{{card.amount | currency }}</span>
           <span>{{card.description}}</span>
          </div>
        </mat-card-content>
        <mat-card-actions *ngIf="role?.toUpperCase()?.includes('MANAGER')">
          <button mat-raised-button>Deny</button>
          <button mat-raised-button>Approve</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
