<mat-toolbar>
  <span><h1>Expense Reimbursement System</h1></span>
  <span class="spacer"></span>
  <span *ngIf="isAuthenticated">
    <button mat-icon-button [routerLink]="['/dashboard']">
      <mat-icon>dashboard</mat-icon>
    </button>
  </span>
  <span *ngIf="!isAuthenticated">
    <button mat-icon-button (click)="login()">
      <mat-icon>login</mat-icon>
    </button>
  </span>
  <span *ngIf="isAuthenticated">
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>
<p class="error center">{{errorMsg}}</p>
